<aside>
  <section class="authoraside">
    <div class=tint><%= image_tag 'profileimage.jpeg', :class => 'asideprofile' %></div>
    <h1><%= @article.author %></h1>
    <ul class="asidesocialmedia">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facbook</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>

    <div class="tint280x300"><%= image_tag 'http://lorempixel.com/280/300/sports/3/', :class => 'asidead' %></div>
    <a class="asideadlink" href="#">About This Ad</a>

    <article class="asidearticle">
      <h2>Sidebard Section Heading</h2>
      <p>Cillum vegan mustache cray, Wes Anderson Kickstarter sunt. Church-key aesthetic ut fashion axe, cillum culpa VHS. Ea freegan cardigan, bespoke Brooklyn vero vinyl PBR reprehenderit actually eiusmod exercitation aesthetic laboris. Dolore Etsy stumptown, magna cred officia 3 wolf moon.</p>
    </article>
  </section>

</aside>
